<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
            <link rel="stylesheet" href="../../public/css/jass.css">

</head>
<body>
    <h1>Logout</h1>
    <p>Are you sure you want to logout?</p>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <script src="/flicks-for-crits/public/js/logout.js"></script>

</body>
</html>
