<link rel="stylesheet" href="../public/css/style.css">

<body>
    <h1>Search For A Movie!</h1>
    <input type="text" style="padding: bottom 10px;" placeholder="Type your movie here">
    
    <div class="movie-grid">
        <div class="movie">
        <img src="/images/movie1.jpg" alt="Movie 1">
    </div>
    <div class="movie">
        <img src="/images/movie2.jpg" alt="Movie 2">
    </div>
    <div class="movie">
        <img src="/images/movie3.jpg" alt="Movie 3">
    </div>
    </div>


    <h1>Logout</h1>
    <p>Are you sure you want to logout?</p>
    <form action="/login/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <script src="/flicks-for-crits/public/js/logout.js"></script>
</body>
