<body>
    <h1>Search For A Movie!</h1>
    <input type="text" placeholder="Type your movie here">
    <h1>Logout</h1>
    <p>Are you sure you want to logout?</p>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <script src="/flicks-for-crits/public/js/logout.js"></script>
</body>
